<p style="color: green"><%= notice %></p>

<%= render @discord_channel %>

<div>
  <%= link_to "Edit this discord channel", edit_discord_channel_path(@discord_channel) %> |
  <%= link_to "Back to discord channels", discord_channels_path %>

  <%= button_to "Destroy this discord channel", @discord_channel, method: :delete %>
</div>
